<div class="container w-100 text-center h1 mb-3">Crear Cuadro Comparativo</div>
<div class="h3">Datos del Pedido</div>
<div class="row mb-3 border border-dark rounded">
    <div class="col-8">
        <label class="font-weight-bold">Código: </label>
        <label id="pedidoCodigo"></label>
        <br />
        <label class="font-weight-bold">Dirección de Solicitante: </label>
        <label id="pedidoDireccionDeSolicitante"></label>
        <br />
        <label class="font-weight-bold">Entregar a: </label>
        <label id="pedidoEntregarA"></label>
        <br />
        <label class="font-weight-bold">Actividad Operativa: </label>
        <label id="pedidoActividadOperativa"></label>
        <br />
        <label class="font-weight-bold">Motivo: </label>
        <label id="pedidoMotivo"></label>
    </div>
    <div class="col-4">
        <label class="font-weight-bold">Fecha: </label>
        <label id="pedidoFecha"></label>
        <br />
        <label class="font-weight-bold">Hora: </label>
        <label id="pedidoHora"></label>
    </div>
</div>
<div class="mb-3">
    <button class="btn border-dark" id="botonCrear">Guardar</button>
    <a class="btn border-dark" id="botonVerCuadroComparativo">Ver Cuadro Comparativo</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Código de Item
            </th>
            <th>
                Nombre de Item
            </th>
            <th>
                Proveedor Ganador
            </th>
            <th>
                Ruc
            </th>
            <th>
                Precio
            </th>
        </tr>
    </thead>
    <tbody id="tabla">
    </tbody>
</table>
<script src="~/js/site.js"></script>
<script>
    /*
     * Variables
     */
    var pedidoCodigo = document.getElementById('pedidoCodigo');
    var pedidoDireccionDeSolicitante = document.getElementById('pedidoDireccionDeSolicitante');
    var pedidoEntregarA = document.getElementById('pedidoEntregarA');
    var pedidoActividadOperativa = document.getElementById('pedidoActividadOperativa');
    var pedidoMotivo = document.getElementById('pedidoMotivo');
    var pedidoFecha = document.getElementById('pedidoFecha');
    var pedidoHora = document.getElementById('pedidoHora');
    var jsonPedido;
    var jsonItems;
    var jsonProveedores;
    var jsonItemProveedor;
    var tabla = document.getElementById('tabla');
    /*
    * Inicializar
    */
    window.addEventListener('load', function () {
        obtenerPedido();
    });
    /*
     * Obtener y mostrar datos del pedido y el resto de json
     */
    function obtenerPedido() {
        fetch("/Pedido/ObtenerPedidoConPedidoId/" + obtenerIdDeUrl())
            .then(function (respuestaDelControlador) {
                return respuestaDelControlador.json();
            })
            .then(function (respuestaDelControladorConvertidoToJSON) {
                jsonPedido = respuestaDelControladorConvertidoToJSON
                mostrarPedido();
                obtenerListaDeItemsDelPedido();
                obtenerSolicitudesDeCotizacionRecividasConPedidoId();
                obtenerItemsPorProveedorConPedidoId();
                setTimeout(completarTabla, 500);
            });
    }
    function mostrarPedido() {
        pedidoCodigo.innerHTML = jsonPedido[0].id;
        pedidoDireccionDeSolicitante.innerHTML = jsonPedido[0].direccionDeSolicitante;
        pedidoEntregarA.innerHTML = jsonPedido[0].entregarA;
        pedidoActividadOperativa.innerHTML = jsonPedido[0].actividadOperativa;
        pedidoMotivo.innerHTML = jsonPedido[0].motivo;
        pedidoFecha.innerHTML = convertirFechaJsonEnFecha(jsonPedido[0].fecha);
        pedidoHora.innerHTML = convertirFechaJsonEnHora(jsonPedido[0].fecha);
    }
    function obtenerListaDeItemsDelPedido() {
        fetch("/Pedido/ObtenerItemsConPedidoId/" + obtenerIdDeUrl()).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            jsonItems = respuestaDelControladorConvertidoToJSON;
        });
    }
    function obtenerSolicitudesDeCotizacionRecividasConPedidoId() {
        fetch("/SolicitudDeCotizacion/ObtenerProveedoresDeLaSolicitudDecoticacionConPedidoId/" + obtenerIdDeUrl()
        ).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            jsonProveedores = respuestaDelControladorConvertidoToJSON;
        });
    }
    function obtenerItemsPorProveedorConPedidoId() {
        fetch("/OrdenDeCompra/ObtenerItemProveedorDeLosItemsDelPedidoConLosProveedoresCotizados/" + obtenerIdDeUrl()
        ).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            jsonItemProveedor = respuestaDelControladorConvertidoToJSON;
        });
    }
    function completarTabla() {
        tabla.innerHTML = '';
        for (let i = 0; i < jsonItems.length; i++) {
            tr = document.createElement('tr');
            let ipId = jsonItems[i].ipId;
            let itemId = jsonItems[i].itemId;
            let proveedorId;
            tr.id = ipId;
            tr.innerHTML =
                '<td>' + jsonItems[i].itemId + '</td>' +
                '<td>' + jsonItems[i].itemDescripcion + '</td>' +
                '<td>' + '<select id="proveedor' + ipId + '"></select>' + '</td>' +
                '<td>' + '<label id="ruc' + ipId + '"></label>' + '</td>' +
                '<td>' + '<label id="precio' + ipId + '"></label>' + '</td>';
            tabla.appendChild(tr);
            let selectProveedor = document.getElementById('proveedor' + ipId);
            let labelRuc = document.getElementById('ruc' + ipId);
            let labelPrecio = document.getElementById('precio' + ipId);
            llenarSelectConProveedores(selectProveedor);
            selectProveedor.onchange = function () {
                proveedorId = selectProveedor.value;
                for (let i = 0; i < jsonProveedores.length; i++) {
                    if (proveedorId == jsonProveedores[i].proveedorId) {
                        labelRuc.innerHTML = jsonProveedores[i].proveedorRuc;
                        break;
                    }
                }
                for (let i = 0; i < jsonItemProveedor.length; i++) {
                    if (jsonItemProveedor[i].proveedorId == proveedorId && jsonItemProveedor[i].itemId == itemId) {
                        labelPrecio.innerHTML = jsonItemProveedor[i].precio;
                        break;
                    }
                }
            }
        }
    }
    function llenarSelectConProveedores(select) {
        for (let i = 0; i < jsonProveedores.length; i++) {
            let option = document.createElement("option");
            option.value = jsonProveedores[i].proveedorId;
            option.text = jsonProveedores[i].proveedorNombre;
            select.appendChild(option);
        }
    }
    /*
     * Ahora
     */
    document.getElementById('botonVerCuadroComparativo').href = "/CuadroComparativo/Ver/" + obtenerIdDeUrl();
    document.getElementById('botonVerCuadroComparativo').target = "_blank";
    /*
     Post
     */
    document.getElementById("botonCrear").onclick = crear;
    function crear() {
        fetch("/OrdenDeCompra/CrearOrdenDeCompra/", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ parametro: 0 })
        }).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            if (respuestaDelControladorConvertidoToJSON.estado == 0) {
                alert(respuestaDelControladorConvertidoToJSON.mensaje);
                window.location.href = respuestaDelControladorConvertidoToJSON.newUrl;
            }
            else {
                alert(respuestaDelControladorConvertidoToJSON.mensaje);
            }
        });
    }
</script>