<div class="container h1 mb-3 text-center">Enviar Documentos</div>
<hr />
<div class="row">
    <div class="col-6">
        <div class="h3 text-center">
            Pedido
        </div>
        <div class="row">
            <div class="col-9">
                <label class="font-weight-bold">Código: </label>
                <br />
                <label id="codigo"></label>
                <br />
                <label class="font-weight-bold">Dirección del Solicitante: </label>
                <br />
                <label id="direccionDeSolicitante"></label>
                <br />
                <label class="font-weight-bold">Entregar a: </label>
                <br />
                <label id="entregarA"></label>
                <br />
                <label class="font-weight-bold">Actividad Operativa: </label>
                <br />
                <label id="actividadOperativa"></label>
                <br />
                <label class="font-weight-bold">Motivo: </label>
                <br />
                <label id="motivo"></label>
            </div>
            <div class="col-3">
                <label class="font-weight-bold">Fecha: </label>
                <label id="fecha"></label>
                <br />
                <label class="font-weight-bold">Hora: </label>
                <label id="hora"></label>
            </div>
        </div>
    </div>
    <div class="col-6">
        <form action="/Documento/Enviar" method="post" enctype="multipart/form-data">
            <input type="hidden" value="@ViewData["PedidoId"]" name="pedidoId"/>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="archivos" id="archivos" multiple required>
                    <label class="custom-file-label">Elegir Documentos</label>
                </div>
            </div>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Observaciones</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" name="observaciones" placeholder="Este campo es opcional"></textarea>
            </div>
            <br />
            <input class="btn btn-primary" type="submit" value="Enviar"/>
        </form>
    </div>
</div>
<script>
    pedidoId = @ViewData["PedidoId"];
    //
    codigo = document.getElementById('codigo');
    direccionDeSolicitante = document.getElementById('direccionDeSolicitante');
    entregarA = document.getElementById('entregarA');
    actividadOperativa = document.getElementById('actividadOperativa');
    motivo = document.getElementById('motivo');
    fecha = document.getElementById('fecha');
    hora = document.getElementById('hora');
    //
    codigo.innerHTML = '';
    direccionDeSolicitante.innerHTML = '';
    entregarA.innerHTML = '';
    actividadOperativa.innerHTML = '';
    motivo.innerHTML = '';
    fecha.innerHTML = '';
    hora.innerHTML = '';
    //
    function obtenerPedido(pedidoId) {
        url = "/Pedido/ObtenerPedido?pedidoId=" + pedidoId;
        this.fetch(url).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            pedido = JSON.parse(JSON.stringify(respuestaDelControladorConvertidoToJSON));
            mostrarPedido(pedido);
        });
    }
    function convertirFechaHora(fechaJSON) {
        let regexFecha = /^\d\d\d\d[-]\d\d[-]\d\d/;
        let regexHora = /\d\d:\d\d:\d\d/;
        let fecha = regexFecha.exec(fechaJSON);
        let hora = regexHora.exec(fechaJSON);
        var array = new Object();
        array[0] = fecha;
        array[1] = hora;
        return array;
    }
    function mostrarPedido(pedido) {
        codigo.innerHTML = pedido[0].id;
        direccionDeSolicitante.innerHTML = pedido[0].direccionDeSolicitante;
        entregarA.innerHTML = pedido[0].entregarA;
        actividadOperativa.innerHTML = pedido[0].actividadOperativa;
        motivo.innerHTML = pedido[0].motivo;
        temp = convertirFechaHora(pedido[0].fecha);
        fecha.innerHTML = temp[0];
        hora.innerHTML = temp[1];
    }
    window.addEventListener('load', function () {
        obtenerPedido(pedidoId);
    });
</script>
