<div class="container h1 mb-3 text-center">Enviar Documentos</div>
<div class="row">
    <div class="col-6">
        <div class="h3 text-center">
            Pedido
        </div>
        <div class="row">
            <div class="col-9">
                <label class="font-weight-bold">Código: </label>
                <br />
                <label id="id"></label>
                <br />
                <label class="font-weight-bold">Dirección del Solicitante: </label>
                <br />
                <label id="direccionDeSolicitante"></label>
                <br />
                <label class="font-weight-bold">Entregar a: </label>
                <br />
                <label id="entregarA"></label>
                <br />
                <label class="font-weight-bold">Actividad Operativa: </label>
                <br />
                <label id="actividadOperativa"></label>
                <br />
                <label class="font-weight-bold">Motivo: </label>
                <br />
                <label id="motivo"></label>
            </div>
            <div class="col-3">
                <label class="font-weight-bold">Fecha: </label>
                <label id="fecha"></label>
                <br />
                <label class="font-weight-bold">Hora: </label>
                <label id="hora"></label>
            </div>
        </div>
    </div>
    <div class="col-6">
        <form action="/Documento/Enviar" method="post" enctype="multipart/form-data">
            <input type="hidden" name="pedidoId" id="inputPedidoId"/>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="archivos" multiple required>
                    <label class="custom-file-label">Elegir Documentos</label>
                </div>
            </div>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Observaciones</span>
                </div>
                <textarea class="form-control" name="observaciones" placeholder="Este campo es opcional"></textarea>
            </div>
            <br />
            <input class="btn btn-primary" type="submit" value="Enviar"/>
        </form>
    </div>
</div>
<script>
    var pedidoId = obtenerIdDeUrl();
    var jsonPedido;
    var id = document.getElementById('id');
    var direccionDeSolicitante = document.getElementById('direccionDeSolicitante');
    var entregarA = document.getElementById('entregarA');
    var actividadOperativa = document.getElementById('actividadOperativa');
    var motivo = document.getElementById('motivo');
    var fecha = document.getElementById('fecha');
    var hora = document.getElementById('hora');
    urlRequestObtenerPedido = "/Pedido/ObtenerPedido/" + pedidoId;
    window.addEventListener('load', function () {
        obtenerPedido();
    });
    function obtenerPedido() {
        this.fetch(urlRequestObtenerPedido).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            jsonPedido = JSON.parse(JSON.stringify(respuestaDelControladorConvertidoToJSON));
            mostrarPedido();
        });
    }
    function mostrarPedido() {
        id.innerHTML = jsonPedido[0].id;
        direccionDeSolicitante.innerHTML = jsonPedido[0].direccionDeSolicitante;
        entregarA.innerHTML = jsonPedido[0].entregarA;
        actividadOperativa.innerHTML = jsonPedido[0].actividadOperativa;
        motivo.innerHTML = jsonPedido[0].motivo;
        fecha.innerHTML = convertirFechaJsonEnFecha(jsonPedido[0].fecha);
        hora.innerHTML = convertirFechaJsonEnHora(jsonPedido[0].fecha);
    }
    function convertirFechaJsonEnFecha(fechaJson) {
        let fecha = /^\d\d\d\d[-]\d\d[-]\d\d/.exec(fechaJson);
        let año = /^[\d]+/.exec(fecha);
        let mes = /-[\d]+-/.exec(fecha);
        let dia = /[\d]+$/.exec(fecha);
        return dia + mes + año;
    }
    function convertirFechaJsonEnHora(fechaJson) {
        let hora = /\d\d:\d\d:\d\d/.exec(fechaJson);
        return /\d\d:\d\d/.exec(hora);
    }
    function obtenerIdDeUrl() {
        url = window.location;
        regexId = /[\d]+$/;
        return regexId.exec(url)[0];
    }
    /*
     * Seccione para el POST
     */
    inputPedidoId = document.getElementById('inputPedidoId');
    inputPedidoId.value = pedidoId;
</script>
