<div class="container w-100 text-center h1 mb-3" id="titulo"></div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Fecha
            </th>
            <th>
                Estado
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody id="tabla">
    </tbody>
</table>
<script src="~/js/site.js"></script>
<script>
    // en el espacio de la tabla, agregar un a con la clase btn Para editar
    // el nombre de editar del boton no es el adecuado, debe ser uno que describa
    // el proceso se realizara
    // solo en caso de que el estado es en espera, sino no muestra nada
    var divTitulo = document.getElementById('titulo');
    divTitulo.innerHTML = 'Solicitudes de Cotización del Pedido '+obtenerIdDeUrl();
</script>