<div class="container w-100 text-center h1 mb-3">Lista de Pedidos con Solicitudes de Cotizaciones Completadas</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Actividad Operativa
            </th>
            <th>
                Tipo de Uso
            </th>
            <th>
                Fecha
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody id="tabla">
    </tbody>
</table>
<script src="~/js/site.js"></script>
<script>
    var tabla = document.getElementById('tabla');
    var jsonPedidos;
    window.addEventListener('load', function () {
        obtenerMostrarPedidosConSolicitudesEnviadas();
    });
    function obtenerMostrarPedidosConSolicitudesEnviadas() {
        this.fetch('/Pedido/ObtenerTodosLosPedidosConSolicitudesDeCotizacionCompletas').then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            jsonPedidos = respuestaDelControladorConvertidoToJSON;
            mostrarPedidos();
        });
    }
    function mostrarPedidos() {
        tabla.innerHTML = '';
        for (let i = jsonPedidos.length - 1; 0 <= i; i--) {
            tr = document.createElement('tr');
            tr.innerHTML =
                '<td>' + jsonPedidos[i].id + '</td>' +
                '<td>' + jsonPedidos[i].actividadOperativa + '</td>' +
                '<td>' + jsonPedidos[i].tipoDeUso + '</td>' +
                '<td>' + convertirFechaJsonEnFecha(jsonPedidos[i].fecha) + '</td>' +
            '<td>' + '<a class="btn border-dark" href="/CuadroComparativo/Crear/' + jsonPedidos[i].id + '">Crear Cuadro Comparativo</a>' + '</td>';
            tabla.appendChild(tr);
        }
    }
</script>