<div class="container w-100 text-center h1 mb-3">Lista de Pedidos con Solicitudes de Cotizaciones</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Actividad Operativa
            </th>
            <th>
                Tipo de Uso
            </th>
            <th>
                Fecha
            </th>
            <th>
                Hora
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody id="tabla">
    </tbody>
</table>
<script src="~/js/site.js"></script>
<script>
    // en el espacio de la tabla, agregar un a con la clase btn Ver solicitudes
</script>