<heah>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</heah>
<div class="container w-100 h1 text-center mb-3">Pedido Pendiente</div>
<div class="row mb-3">
    <div class="col-8">
        <label class="font-weight-bold">Código: </label>
        <label id="id"></label>
        <br />
        <label class="font-weight-bold">Dirección de Solicitante: </label>
        <label id="direccionDeSolicitante"></label>
        <br />
        <label class="font-weight-bold">Entregar a: </label>
        <label id="entregarA"></label>
        <br />
        <label class="font-weight-bold">Actividad Operativa: </label>
        <label id="actividadOperativa"></label>
        <br />
        <label class="font-weight-bold">Motivo: </label>
        <label id="motivo"></label>
    </div>
    <div class="col-4">
        <label class="font-weight-bold">Fecha: </label>
        <label id="fecha"></label>
        <br />
        <label class="font-weight-bold">Hora: </label>
        <label id="hora"></label>
        <br />
        <button class="btn border-success mb-1" type="button" data-toggle="modal" data-target="#modalAprobar">Aprobar</button>
        <br />
        <button class="btn border-danger mb-1" type="button" data-toggle="modal" data-target="#modalDesaprobar">Desaprobar</button>
        <br />
        <button class="btn border-dark mb-1" id="editarCantidades">Editar las Cantidades de los Items</button>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr class="align-items-center">
            <th>
                Código
            </th>
            <th>
                Descripción
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Unidad de medida
            </th>
        </tr>
    </thead>
    <tbody id="cuerpoDeLaTabla">
    </tbody>
</table>
<!--Modal para la aprobacion-->
<div class="modal fade" id="modalAprobar" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title h5">Aprobar</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="">¿Esta seguro de aprobar el pedido?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="botonAprobar">Si</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!--Modal para desaprobar-->
<div class="modal fade" id="modalDesaprobar" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title h5">Desaprobar</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Observaciones:</label>
                <br />
                <textarea class="w-100" id="observaciones"></textarea>
                <div class="">¿Esta seguro de desaprobar el pedido?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="botonDesaprobar">Si</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script>
    var jsonPedido;
    var jsonItems;
    var objetosConLaClaseItemXPedido
    var tablaConItems = document.getElementById('cuerpoDeLaTabla');
    var labelId = document.getElementById('id');
    var labelDireccionDeSolicitante = document.getElementById('direccionDeSolicitante');
    var labelEntregarA = document.getElementById('entregarA');
    var labelActividadOperativa = document.getElementById('actividadOperativa');
    var labelMotivo = document.getElementById('motivo');
    var labelFecha = document.getElementById('fecha');
    var labelHora = document.getElementById('hora');
    var pedidoId = obtenerNumeroDeUrl();
    /*
     * Inicializar
     */
    window.addEventListener('load', function () {
        obtenerMostrarPedido();
        obtenerMostrarItems();
    });
    /*
     * obtener el id del pedido desde la url
     */
    function obtenerNumeroDeUrl() {
        url = window.location;
        regexId = /[\d]+$/;
        return regexId.exec(url)[0];
    }
    /*
     * Obtener y mostrar Pedido
     */
    async function obtenerMostrarPedido() {
        await fetch("/Pedido/ObtenerPedido/" + pedidoId).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            jsonPedido = respuestaDelControladorConvertidoToJSON
            // se coloca mostrar aqui ya que si se coloca afuera por la asincronia no tendria efecto
            mostrarPedido();
        });
    }
    function mostrarPedido() {
        labelId.innerHTML = jsonPedido[0].id;
        labelDireccionDeSolicitante.innerHTML = jsonPedido[0].direccionDeSolicitante;
        labelEntregarA.innerHTML = jsonPedido[0].entregarA;
        labelActividadOperativa.innerHTML = jsonPedido[0].actividadOperativa;
        labelMotivo.innerHTML = jsonPedido[0].motivo;
        labelFecha.innerHTML = convertirFechaJsonEnFecha(jsonPedido[0].fecha);
        labelHora.innerHTML = convertirFechaJsonEnHora(jsonPedido[0].fecha);
    }
    /*
     * Convertir Fecha Json en Fecha
     */
    function convertirFechaJsonEnFecha(fechaJson) {
        let fecha = /^\d\d\d\d[-]\d\d[-]\d\d/.exec(fechaJson);
        let año = /^[\d]+/.exec(fecha);
        let mes = /-[\d]+-/.exec(fecha);
        let dia = /[\d]+$/.exec(fecha);
        return dia + mes + año;
    }
    /*
     * Convertir Fecha Json en Hora
     */
    function convertirFechaJsonEnHora(fechaJson) {
        let hora = /\d\d:\d\d:\d\d/.exec(fechaJson);
        return /\d\d:\d\d/.exec(hora);
    }
    /*
     * Obtener y mostrar Items
     */
    function obtenerMostrarItems() {
        fetch("/Pedido/ObtenerItems/" + pedidoId).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            jsonItems = respuestaDelControladorConvertidoToJSON;
            mostrarItems();
            cantidades = document.getElementsByClassName('items');
            agregarEventoDeCambioALasCantidades();
        });
    }
    function mostrarItems() {
        jsonItems.forEach(function (object) {
            var tr = document.createElement('tr');
            tr.innerHTML =
                '<td>' + object.itemId + '</td>' +
                '<td>' + object.descripcion + '</td>' +
                '<td>' + '<input class="ItemXPedido" type="number" id="' + object.id + '" value="' + object.cantidad + '" disabled> ' + '</td>' +
                '<td>' + object.unidadDeMedida + '</td>';
            cuerpoDeLaTabla.appendChild(tr);
        });
    }
    /*
     * Aqui abajo esta el codigo para activar y desactivar la edicion de las cantidades
     */
    var esEditableLasCantidades = false;
    var botonEditarCantidad = document.getElementById('editarCantidades');
    botonEditarCantidad.addEventListener('click',cambiarEstadoDeCantidades);
    function cambiarEstadoDeCantidades() {
        if (esEditableLasCantidades == false) {
            esEditableLasCantidades = true;
            botonEditarCantidad.innerHTML = 'Dejar de Editar las Cantidades de los Items';
            activarEdicionDeCantidades();
        }
        else {
            esEditableLasCantidades = false;
            botonEditarCantidad.innerHTML = 'Editar las Cantidades de los Items';
            desactivarEdicionDeCantidades();
        }
    }
    function activarEdicionDeCantidades() {
        for (let i = 0; i<cantidades.length;i++) {
            cantidades[i].disabled = false;
        }
    }
    function desactivarEdicionDeCantidades() {
        for (let i = 0; i < cantidades.length; i++) {
            cantidades[i].disabled = true;
        }
    }
    /*
     * Aqui abajo esta el codigo para validar las cantidades
     * El evento cambio que ayuda a validar el valor de cantidades es invocado al mostrar los items
     * ya que es necesarios obtenerlos y mostrarlos para saber cuales son y agregar los eventos
     * a cada uno
     */
    function agregarEventoDeCambioALasCantidades() {
        for (let i = 0; i < cantidades.length; i++) {
            cantidades[i].onchange = function () { validarQueElValorSeaUnNumeroEnteroPositivoIncluidoElCero(cantidades[i]) };
        }
    }
    function validarQueElValorSeaUnNumeroEnteroPositivoIncluidoElCero(elementoHtml) {
        if (elementoHtml.value == '' || elementoHtml.innerHTML == '') {
            elementoHtml.value = 0;
            elementoHtml.innerHTML == 0;
        }
        else {
            var temp = elementoHtml.value;
            temp = temp.replace(/^0+/, '');
            elementoHtml.value = temp;
            if (elementoHtml.value == '') {
                elementoHtml.value == 0;
            }
        }
    }
    /*
     Aqui se combierte las cantidades en objeto json
     */
    function obtenerJsonDeLasCantidades() {
        let jsonConLasCantidades = [];
        for (let i = 0; i < cantidades.length; i++) {
            let objCantidad = {};
            objCantidad["id"] = cantidades[i].id;
            objCantidad["cantidad"] = cantidades[i].value;
            jsonConLasCantidades.push(objCantidad);
        }
        return jsonConLasCantidades;
    }
    /*
    POST
     */
    document.getElementById("botonAprobar").onclick = aprobar;
    function aprobar() {
        fetch("/Pedido/AprobarPedidoPendiente/", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: jsonPedido[0].id, cantidades: obtenerJsonDeLasCantidades() })
        }).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            window.location.href = respuestaDelControladorConvertidoToJSON.newUrl;
        });
    }
    document.getElementById("botonDesaprobar").onclick = desaprobar;
    function desaprobar() {
        fetch("/Pedido/DesaprobarPedidoPendiente/", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: jsonPedido[0].id, observacion: document.getElementById("observaciones").value, cantidades: obtenerJsonDeLasCantidades() })
        }).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            window.location.href = respuestaDelControladorConvertidoToJSON.newUrl;
        });
    }
</script>