<div class="container w-100 h1 text-center mb-3">Pedido Aprobado por Logística - Solicitar Cotización</div>
<div class="row mb-3">
    <div class="col-8">
        <label class="font-weight-bold">Código: </label>
        <label id="id"></label>
        <br />
        <label class="font-weight-bold">Dirección de Solicitante: </label>
        <label id="direccionDeSolicitante"></label>
        <br />
        <label class="font-weight-bold">Entregar a: </label>
        <label id="entregarA"></label>
        <br />
        <label class="font-weight-bold">Actividad Operativa: </label>
        <label id="actividadOperativa"></label>
        <br />
        <label class="font-weight-bold">Motivo: </label>
        <label id="motivo"></label>
    </div>
    <div class="col-4">
        <label class="font-weight-bold">Fecha: </label>
        <label id="fecha"></label>
        <br />
        <label class="font-weight-bold">Hora: </label>
        <label id="hora"></label>
    </div>
</div>
<div class="mb-3">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text">Proveedores</label>
        </div>
        <select class="custom-select">
            <option selected value="0">Elegir un proveedor...</option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary">Añadir</button>
        </div>
    </div>
    <div class="mb-3">
        <div class="row">
            <div class="col">
                <label class="font-weight-bold">Ruc: </label>
                <label id="ruc"></label>
                <br />
                <label class="font-weight-bold">Teléfono: </label>
                <label id="telefono"></label>
                <br />
            </div>
            <div class="col">
                <label class="font-weight-bold">Correo: </label>
                <label id="correo"></label>
                <br />
            </div>
        </div>
        <label class="font-weight-bold">Nombre: </label>
        <label id="nombre"></label>
        <br />
        <label class="font-weight-bold">Razon Social: </label>
        <label id="razonSocial"></label>
    </div>
    <table class="table table-hover mb-3">
        <thead>
            <tr class="align-items-center">
                <th>
                    Ruc
                </th>
                <th>
                    Nombre
                </th>
            </tr>
        </thead>
        <tbody id="tablaConLosItems">
        </tbody>
    </table>
    <button class="btn">Limpiar lista</button>
    <button class="btn">Eliminar Ultimo Añadido</button>
    <button class="btn border-dark mb-1" type="button" data-toggle="modal" data-target="#modalEnviar">Enviar</button>
</div>
<table class="table table-hover">
    <thead>
        <tr class="align-items-center">
            <th>
                Código
            </th>
            <th>
                Descripción
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Unidad de medida
            </th>
        </tr>
    </thead>
    <tbody id="tablaConLosItems">
    </tbody>
</table>
<!--Modal para la enviar-->
<div class="modal fade" id="modalEnviar" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title h5">Enviar Solicitud de Cotización a los Proveedores</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="">¿Esta seguro de enviar la solicitud de cotización a los proveedores seleccionados?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="botonEnviar">Si</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>
<script>
    var pedidoId = obtenerIdDeUrl();
    //
    var jsonPedido;
    var labelId = document.getElementById('id');
    var labelDireccionDeSolicitante = document.getElementById('direccionDeSolicitante');
    var labelEntregarA = document.getElementById('entregarA');
    var labelActividadOperativa = document.getElementById('actividadOperativa');
    var labelMotivo = document.getElementById('motivo');
    var labelFecha = document.getElementById('fecha');
    var labelHora = document.getElementById('hora');
    //
    var jsonItems;
    var tablaConLosItems = document.getElementById('tablaConLosItems');
    /*
     * Inicializar
     */
    window.addEventListener('load', function () {
        obtenerMostrarPedido();
        obtenerMostrarItems();
    });
    /*
     * Obtener y mostrar Pedido
     */
    async function obtenerMostrarPedido() {
        await fetch("/Pedido/ObtenerPedidoConPedidoId/" + pedidoId).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            jsonPedido = respuestaDelControladorConvertidoToJSON
            // se coloca mostrar aqui ya que si se coloca afuera por la asincronia no tendria efecto
            mostrarPedido();
        });
    }
    function mostrarPedido() {
        labelId.innerHTML = jsonPedido[0].id;
        labelDireccionDeSolicitante.innerHTML = jsonPedido[0].direccionDeSolicitante;
        labelEntregarA.innerHTML = jsonPedido[0].entregarA;
        labelActividadOperativa.innerHTML = jsonPedido[0].actividadOperativa;
        labelMotivo.innerHTML = jsonPedido[0].motivo;
        labelFecha.innerHTML = convertirFechaJsonEnFecha(jsonPedido[0].fecha);
        labelHora.innerHTML = convertirFechaJsonEnHora(jsonPedido[0].fecha);
    }
    /*
     * Obtener y mostrar Items
     */
    async function obtenerMostrarItems() {
        await fetch("/Pedido/ObtenerItemsConPedidoId/" + pedidoId).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            jsonItems = respuestaDelControladorConvertidoToJSON;
            // se coloca mostrar aqui ya que si se coloca afuera por la asincronia no tendria efecto
            mostrarItems();
        });
    }
    function mostrarItems() {
        jsonItems.forEach(function (object) {
            var tr = document.createElement('tr');
            tr.innerHTML =
                '<td>' + object.itemId + '</td>' +
                '<td>' + object.itemDescripcion + '</td>' +
                '<td>' + object.ipCantidad + '</td>' +
                '<td>' + object.itemUnidadDeMedida + '</td>';
            tablaConLosItems.appendChild(tr);
        });
    }
    /*
    POST
     */
    /*
    document.getElementById("botonEnviar").onclick = enviar;
    function enviar() {
        fetch("/Pedido/EnviarPedidoATodosLosProveedores/", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: jsonPedido[0].id })
        }).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            window.location.href = respuestaDelControladorConvertidoToJSON.newUrl;
        });
    }
    */
</script>