<div class="container w-100 h1 text-center mb-3">Pedido Aprobado por Logística - Solicitar Cotización</div>
<div class="row mb-3">
    <div class="col-8">
        <label class="font-weight-bold">Código: </label>
        <label id="id"></label>
        <br />
        <label class="font-weight-bold">Dirección de Solicitante: </label>
        <label id="direccionDeSolicitante"></label>
        <br />
        <label class="font-weight-bold">Entregar a: </label>
        <label id="entregarA"></label>
        <br />
        <label class="font-weight-bold">Actividad Operativa: </label>
        <label id="actividadOperativa"></label>
        <br />
        <label class="font-weight-bold">Motivo: </label>
        <label id="motivo"></label>
    </div>
    <div class="col-4">
        <label class="font-weight-bold">Fecha: </label>
        <label id="fecha"></label>
        <br />
        <label class="font-weight-bold">Hora: </label>
        <label id="hora"></label>
        <br />
        <button class="btn border-dark mb-1" type="button" data-toggle="modal" data-target="#modalEnviar">Enviar</button>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr class="align-items-center">
            <th>
                Código
            </th>
            <th>
                Descripción
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Unidad de medida
            </th>
        </tr>
    </thead>
    <tbody id="cuerpoDeLaTabla">
    </tbody>
</table>
<!--Modal para la enviar-->
<div class="modal fade" id="modalEnviar" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title h5">Enviar Pedido a los Proveedores</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="">¿Esta seguro de realizar el envío a todos los proveedores?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="botonEnviar">Si</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script>
    var jsonPedido;
    var jsonItems;
    var cuerpoDeLaTabla = document.getElementById('cuerpoDeLaTabla');
    var id = document.getElementById('id');
    var direccionDeSolicitante = document.getElementById('direccionDeSolicitante');
    var entregarA = document.getElementById('entregarA');
    var actividadOperativa = document.getElementById('actividadOperativa');
    var motivo = document.getElementById('motivo');
    var fecha = document.getElementById('fecha');
    var hora = document.getElementById('hora');
    var numeroId = obtenerIdDeUrl();
    urlRequestObtenerPedido = "/Pedido/ObtenerPedido/" + numeroId;
    urlRequestObtenerItems = "/Pedido/ObtenerItems/" + numeroId;
    window.addEventListener('load', function () {
        obtenerPedido();
        obtenerItems();
    });
    function mostrarPedido() {
        id.innerHTML = jsonPedido[0].id;
        direccionDeSolicitante.innerHTML = jsonPedido[0].direccionDeSolicitante;
        entregarA.innerHTML = jsonPedido[0].entregarA;
        actividadOperativa.innerHTML = jsonPedido[0].actividadOperativa;
        motivo.innerHTML = jsonPedido[0].motivo;
        fecha.innerHTML = convertirFechaJsonEnFecha(jsonPedido[0].fecha);
        hora.innerHTML = convertirFechaJsonEnHora(jsonPedido[0].fecha);
    }
    function obtenerPedido() {
        this.fetch(urlRequestObtenerPedido).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            jsonPedido = JSON.parse(JSON.stringify(respuestaDelControladorConvertidoToJSON));
            mostrarPedido();
        });
    }
    function obtenerItems() {
        this.fetch(urlRequestObtenerItems).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            jsonItems = JSON.parse(JSON.stringify(respuestaDelControladorConvertidoToJSON));
            mostrarItems();
        });
    }
    function mostrarItems() {
        jsonItems.forEach(function (object) {
            var tr = document.createElement('tr');
            tr.innerHTML =
                '<td>' + object.itemId + '</td>' +
                '<td>' + object.descripcion + '</td>' +
                '<td>' + object.cantidad + '</td>' +
                '<td>' + object.unidadDeMedida + '</td>';
            cuerpoDeLaTabla.appendChild(tr);
        });
    }
    function convertirFechaJsonEnFecha(fechaJson) {
        let fecha = /^\d\d\d\d[-]\d\d[-]\d\d/.exec(fechaJson);
        let año = /^[\d]+/.exec(fecha);
        let mes = /-[\d]+-/.exec(fecha);
        let dia = /[\d]+$/.exec(fecha);
        return dia + mes + año;
    }
    function convertirFechaJsonEnHora(fechaJson) {
        let hora = /\d\d:\d\d:\d\d/.exec(fechaJson);
        return /\d\d:\d\d/.exec(hora);
    }
    function obtenerIdDeUrl() {
        url = window.location;
        regexId = /[\d]+$/;
        return regexId.exec(url)[0];
    }
    /*
    POST
     */
    document.getElementById("botonEnviar").onclick = enviar;
    function enviar() {
        fetch("/Pedido/EnviarPedidoATodosLosProveedores/", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: jsonPedido[0].id })
        }).then(function (respuestaDelControlador) {
            return respuestaDelControlador.json();
        }).then(function (respuestaDelControladorConvertidoToJSON) {
            window.location.href = respuestaDelControladorConvertidoToJSON.newUrl;
        });
    }
</script>